@keyframes cascade {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    /* Initial position and opacity */
    to {
        transform: translateY(0);
        opacity: 1;
    }

    /* Final position and opacity */
}

@-moz-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-webkit-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-o-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

/* Styles for WebKit-based browsers (Safari, Chrome, etc.) */
/* Use ::-webkit-scrollbar to style scrollbar track, thumb, etc. */
/* Note: This example only styles the scrollbar for WebKit-based browsers */

/* Styles for the scrollbar track */
.about-section-container::-webkit-scrollbar {
    width: 5px !important;
    /* Set width of the scrollbar */
}

/* Styles for the scrollbar thumb (the draggable handle) */
.about-section-container::-webkit-scrollbar-thumb {
    background: #888 !important;
    /* Background color of the thumb */
    border-radius: 5px;
    /* Rounded corners of the thumb */
}

/* Styles for the scrollbar track (the area the thumb moves on) */
.about-section-container::-webkit-scrollbar-track {
    background: #f0f0f0 !important;
    /* Background color of the track */
}

/* Styles for the scrollbar corner (between the vertical and horizontal scrollbars) */
.about-section-container::-webkit-scrollbar-corner {
    background: transparent !important;
    /* Background color of the corner */
}


.about-section-container {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 100%;
    width: 100%;
    height: auto;
    padding: 0vw 10vw 0px 10vw;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
    animation: cascade 1s ease forwards;
}

.grid-1 .title {
    font-family: __AntonRegular_56858d;
    font-size: 6vw;
    text-wrap: nowrap;
    line-height: 1;
    justify-self: start;
    align-self: self-start;
    padding-bottom: 10px;
    text-decoration: underline;
    text-decoration-color: transparent;
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-style: solid;
    -webkit-text-decoration-color: transparent;
    text-underline-offset: 0.3em;
    background-image: linear-gradient(to right, #0047FF, #FF0000);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 6vw;
}

.grid-1 .download-resume {
    width: max-content;
    height: max-content;
    padding: 0.5vw;
    font-family: __BebasNeueRegular_171f10;
    background-color: black;
    color: white;
    font-size: 1.7vw;
    border: none;
    border-radius: 0.5vw;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    transition: font-size 0.5s ease;
    transition: transform 0.3s;
    align-self: center;
    justify-self: end;
}

.grid-1 .download-resume:hover {
    transform: scale(1.05);
    background-color: #2e2e2e;
}

.about-paragraph {
    font-family: __AntonRegular_56858d;
    font-size: 6.30vw;
    text-wrap: nowrap;
    line-height: 0vw;
    width: 100%;
    padding: 6vw 0vw;
    height: min-content;
    color: var(--secondary-color);
    text-align: center;
    color: var(--secondary-color);
}

.about-paragraph2 {
    font-family: __AntonRegular_56858d;
    font-size: 12.2vw;
    text-wrap: nowrap;
    line-height: 8vw;
    width: 100%;
    height: min-content;
    color: var(--secondary-color);
    text-align: center;
    color: var(--secondary-color);
}

.about-paragraph3 {
    font-family: __AntonRegular_56858d;
    font-size: 19.15vw;
    text-wrap: nowrap;
    line-height: 1vw;
    padding-top: 12vw;
    width: 100%;
    height: min-content;
    color: var(--secondary-color);
    /* letter-spacing: 1vw; */
    text-align: center;
    color: var(--secondary-color);
}

.about-paragraph4 {
    display: grid;
    font-family: __AntonRegular_56858d;
    font-size: 8.9vw;
    text-wrap: nowrap;
    line-height: 10vw;
    padding-top: 8.5vw;
    color: rgba(255, 255, 255, 0.1);
    background: #ffffff;
    background: linear-gradient(to right, #0047FF 0%, #FF0000 16%, #0047FF 32%, #FF0000 48%, #0047FF 64%, #FF0000 80%, #0047FF 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0047FF), color-stop(16%, #FF0000), color-stop(32%, #0047FF), color-stop(48%, #FF0000), color-stop(64%, #0047FF), color-stop(80%, #FF0000), color-stop(100%, #0047FF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0047FF', endColorstr='#FF0000', GradientType=1);
    background-size: 300% 300%;
    animation: shimmer infinite 3s linear;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #222;
    text-align: center;
}

.work-experience {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content;
    gap: 2vw;
}

.work-experience__title {
    font-family: __AntonRegular_56858d;
    font-size: 4vw;
    text-wrap: wrap;
    line-height: 0;
    margin: 10vw 0px 0vw 0px;
    padding-left: 5.2vw;
    background-color: #222;
    color: var(--secondary-color);
}

.work-experience__title2 {
    font-family: __AntonRegular_56858d;
    font-size: 16.32vw;
    text-wrap: wrap;
    line-height: 1;
    margin: 0vw 0px 0vw 0px;
    padding-left: 4.6vw;
    color: var(--secondary-color);
}


.work-experience__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas:
        "role years2"
        "company years2"
        "years years2"
    ;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 1.5vw;
    padding: 1vw;
    transition: transform 0.3s ease;
    color: #303030;
    margin: 0vw 5vw;
}

.work-experience__items:hover {
    transform: scale(1.05);
    color: #000000;

}

.work-experience__items .role {
    font-family: __BebasNeueRegular_171f10;
    font-size: 3vw;
    text-wrap: wrap;
    line-height: 1;
    grid-area: role;

}

.work-experience__items .company {
    font-family: __KhulaRegular_2599ce;
    font-size: 1.5vw;
    text-wrap: wrap;
    line-height: 1;
    grid-area: company;
}

.work-experience__items .years {
    font-family: __BebasNeueRegular_171f10;
    font-size: 2vw;
    text-wrap: wrap;
    line-height: 1.5;
    grid-area: years;
}

.work-experience__items .years2 {
    font-family: __ArchitectsDaughterRegular_ca443e;
    font-size: 3vw;
    text-wrap: wrap;
    line-height: 1;
    grid-area: years2;
    justify-self: end;
    align-self: center;
}




.education {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content;
    gap: 2vw;
}


.education__title {
    font-family: __AntonRegular_56858d;
    font-size: 4vw;
    text-wrap: wrap;
    line-height: 0;
    margin: 5vw 0px 0vw 0px;
    padding-left: 5.2vw;
    background-color: #222;
    color: var(--secondary-color);
}

.education__title2 {
    font-family: __AntonRegular_56858d;
    font-size: 17.9vw;
    text-wrap: wrap;
    line-height: 1;
    margin: 0vw 0px 0vw 0px;
    padding-left: 4.6vw;
    color: var(--secondary-color);
}


.education__items {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas:
        "role years2"
        "company years2"
        "years years2"
    ;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 1.5vw;
    padding: 1vw;
    transition: transform 0.3s ease;
    color: #303030;
    margin: 0vw 5vw;
}

.education__items:hover {
    transform: scale(1.05);
    color: #000000;
}

.education__items .role {
    font-family: __BebasNeueRegular_171f10;
    font-size: 3vw;
    text-wrap: wrap;
    line-height: 1;
    grid-area: role;
}

.education__items .company {
    font-family: __KhulaRegular_2599ce;
    font-size: 1.5vw;
    text-wrap: wrap;
    line-height: 1;
    grid-area: company;
}

.education__items .years {
    font-family: __BebasNeueRegular_171f10;
    font-size: 2vw;
    text-wrap: wrap;
    line-height: 1.5;
    grid-area: years;
}

.education__items .years2 {
    font-family: __ArchitectsDaughterRegular_ca443e;
    font-size: 3vw;
    text-wrap: wrap;
    line-height: 1;
    grid-area: years2;
    justify-self: end;
    align-self: center;
}

.education__items .education-logos {

    grid-area: years2;
    justify-self: end;
    align-self: center;
    margin-right: 5vw;
}


.skills {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content;
    gap: 2vw;
}

.skills__tools {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    gap: 10vw;
}

.skills__title {
    font-family: __AntonRegular_56858d;
    font-size: 4vw;
    text-wrap: wrap;
    line-height: 0;
    margin: 5vw 0px 0vw 0px;
    padding-left: 5.2vw;
    color: var(--secondary-color);
}

.skills__title2 {
    font-family: __AntonRegular_56858d;
    font-size: 29.1vw;
    text-wrap: wrap;
    line-height: 1;
    margin: 0vw 0px 0vw 0px;
    padding-left: 4.6vw;
    color: var(--secondary-color);
}

.skills__title3 {
    font-family: __AntonRegular_56858d;
    font-size: 9vw;
    text-wrap: wrap;
    line-height: 0.5;
    padding-left: 5.2vw;
    letter-spacing: 18vw;
    color: var(--secondary-color);
}

.skills__items {
    justify-self: center;
}



.skills .backend {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    gap: 5vw;
    margin: 5vw 0px 0vw 0px;
}

.backend .title {
    font-family: __BebasNeueRegular_171f10;
    font-size: 4vw;
    text-wrap: wrap;
    line-height: 1;
    grid-area: 1 / span 3;
    align-self: center;
    justify-self: center;
}

.skills .frontend {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    gap: 5vw;
    margin: 5vw 0px 0vw 0px;

}

.frontend .title {
    font-family: __BebasNeueRegular_171f10;
    font-size: 4vw;
    text-wrap: wrap;
    line-height: 1;
    grid-area: 1 / span 3;
    align-self: center;
    justify-self: center;
}

.skills .additional-tools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content;
    grid-gap: 5vw;
    gap: 5vw;
    padding-top: 0vw;
    margin: 0vw 0px 0vw 0px;
}

.additional-tools .title {
    font-family: __BebasNeueRegular_171f10;
    font-size: 4vw;
    text-wrap: wrap;
    line-height: 1;
    grid-area: 1 / span 3;
    align-self: center;
    justify-self: center;
}

.footer {
    padding: 0vw -10vw 0px -10vw !important;
}