@font-face {
  font-family: "THEBOLDFONT";
  src: url("/assets/fonts/THEBOLDFONT.ttf");
  font-display: swap;
}

@font-face {
  font-family: "ADLMOUNTIANE";
  src: url("/assets/fonts/ADLMOUNTIANE.otf");
  font-display: swap;
}

@font-face {
  font-family: "AGENCYR";
  src: url("/assets/fonts/AGENCYR.TTF");
  font-display: swap;
}

@font-face {
  font-family: "CONSOLA";
  src: url("/assets/fonts/CONSOLA.TTF");
  font-display: swap;
}

@font-face {
  font-family: "BebasNeue-Regular";
  src: url("/assets/fonts/BebasNeue-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "ArchitectsDaughter-Regular";
  src: url("/assets/fonts/ArchitectsDaughter-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Anton-Regular";
  src: url("/assets/fonts/Anton-Regular.ttf");
  font-display: swap;
}



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
  text-decoration: none;
  color: inherit;
}

body {
  display: grid;
  width: 100%;
  height: 100%;
  min-width: 400px;
  height: auto;
  grid-template-columns: auto;
  background-color: #ffffff;
}

nav {
  display: grid;
  width: 100%;
  height: auto;
  grid-auto-flow: column;
  background-color: rgb(255, 255, 255);
  align-items: center;
  padding: 30px 40px 0px 40px;
  z-index: 1;
}


.mikey-logo {
  margin-right: 10px;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.3s ease;
  transition: transform 0.3s;
}

.mikey-logo:hover {
  opacity: 50%;
  transition: opacity 0.3s ease;
  transform: scale(1.05);
  transition: transform 0.3s;
}

.navbar-menu {
  display: grid;
  grid-auto-flow: column;
  width: auto;
  height: auto;
  align-items: center;
  justify-self: end;
  gap: 50px;

}

.nav-sections {
  display: grid;
  font-family: BebasNeue-Regular;
  font-size: 40px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
  line-height: 0.8;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
}

.nav-sections.selected {
  display: grid;
  font-family: BebasNeue-Regular;
  font-size: 40px;
  background-color: transparent;
  cursor: auto;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  line-height: 0.8;
  border-style: solid;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #FF0000, #0047FF) border-box;
  border-radius: 0.15em;
  border: 3px solid transparent;
}

.nav-sections.selected:hover {
  cursor: not-allowed;
  transform: none;
  color: inherit;
}

.nav-sections:hover {
  color: #6b6b6b;
  transform: scale(1.05);
}

.language-selection {
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
  font-family: ArchitectsDaughter-Regular;
  font-size: 25px;
  color: #999999;
}


.button-get-in-touch {
  padding: 20px;
  font-family: BebasNeue-Regular;
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  transition: font-size 0.5s ease;
  transition: transform 0.3s;
  box-shadow: 3px 3px 0px #FF0000, -3px -3px 0px #0047FF;


}


.button-get-in-touch:hover {
  transform: scale(1.05);
}


.language-english {
  cursor: pointer;
  color: #999999;
  transition: color 0.3s ease;
  transition: transform 0.3s;
}

.language-english:hover {
  cursor: pointer;
  color: #2e2e2e;
  transition: color 0.3s ease;
  transform: scale(1.05);
  transition: transform 0.3s;
}

.language-spanish {
  cursor: pointer;
  color: #999999;
  transition: color 0.3s ease;
  transition: transform 0.3s;
}

.language-spanish:hover {
  cursor: pointer;
  color: #2e2e2e;
  transition: color 0.3s ease;
  transform: scale(1.05);
  transition: transform 0.3s;
}

.language-english.selected {
  background: linear-gradient(to bottom, #FF0000 0%, #0047FF 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: auto;
  position: relative;
}

.language-english.selected::after {
  content: "";
  display: grid;
  position: absolute;
  width: 45px;
  height: 30px;
  left: -7px;
  top: 7.1%;
  background-color: transparent;
  border: 2px solid #4d4d4d;
  border-radius: 5px;
}

.language-spanish.selected {
  background: linear-gradient(to bottom, #FF0000 0%, #0047FF 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: auto;
  position: relative;
}

.language-spanish.selected::after {
  content: "";
  display: grid;
  position: absolute;
  width: 58px;
  height: 30px;
  left: -6px;
  top: 7.1%;
  background-color: transparent;
  border: 2px solid #4d4d4d;
  border-radius: 5px;
}

.presentation-container {
  display: grid;
  width: auto;
  height: auto;
  justify-items: center;
}

.presentation {
  display: grid;
  width: max-content;
  height: max-content;
  position: relative;
  top: -30px;

}

.hi {
  font-family: ArchitectsDaughter-Regular;
  font-size: 40px;
  position: absolute;
  bottom: 340px;
  left: -200px;
  text-wrap: nowrap;
}

.waving-hand {
  position: absolute;
  bottom: 350px;
  left: -162px;
  animation: wave 2s infinite;
  transform-origin: bottom center;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.joserodriguez {
  font-family: ArchitectsDaughter-Regular;
  font-size: 40px;
  position: absolute;
  bottom: 340px;
  left: 290px;
  text-wrap: nowrap;
  background: linear-gradient(to bottom, #FF0000 0%, #0047FF 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
  white-space: nowrap;
}

.joserodriguez:hover {
  background: none;
  -webkit-background-clip: none;
  background-clip: none;
  color: transparent;
}


.joserodriguez:hover::after {
  content: attr(data-mikeyrg);
  display: grid;
  text-wrap: nowrap;
  background: linear-gradient(to bottom, #FF0000 0%, #0047FF 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: pointer;
  position: absolute;
  font-size: 80px;
  top: 10px;
  left: -370px;
  white-space: nowrap;
}

.and {
  font-family: ArchitectsDaughter-Regular;
  font-size: 40px;
  position: absolute;
  bottom: 300px;
  left: 20px;
  text-wrap: nowrap;
}

.iama {
  font-family: ArchitectsDaughter-Regular;
  font-size: 40px;
  position: absolute;
  bottom: 300px;
  left: 290px;
  text-wrap: nowrap;
}

.fullstack {
  font-family: Anton-Regular;
  font-size: 64px;
  position: absolute;
  bottom: 70px;
  left: -255px;
  text-wrap: nowrap;
}

.web-developer {
  font-family: Anton-Regular;
  font-size: 118px;
  position: absolute;
  bottom: -55px;
  left: -255px;
  text-wrap: nowrap;
}


.and-graphic-designer {
  font-family: ArchitectsDaughter-Regular;
  font-size: 72px;
  position: absolute;
  bottom: -110px;
  left: -50px;
  text-wrap: nowrap;
  white-space: nowrap;
}

.located-in-dominican-republic {
  font-family: Anton-Regular;
  font-size: 20px;
  position: absolute;
  bottom: -115px;
  left: 437px;
  background-color: transparent;
  border-radius: 5px;
  background: #ffffff;
  background-clip: padding-box;
  border: solid 1px transparent;
  line-height: 1.2;
  padding-left: 3px;
  padding-right: 3px;
  text-wrap: nowrap;
  cursor: pointer;
  transition: color 0.3s ease;
  white-space: nowrap;
}

.located-in-dominican-republic:hover {
  color: #7c7c7c;
}



.located-in-dominican-republic::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(to left, #FF0000 0%, #0047FF 80%);
  background-position: left;
  background-size: 200%;
  animation: gradient-animation-location 3s infinite alternate;
}


@keyframes gradient-animation-location {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

.presentation {
  display: grid;
  justify-items: center;
  margin-top: 80px;
}

.getintouch {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: max-content max-content;
  margin-top: 80px;
}

.getintouch-box1 {
  display: grid;
  justify-items: center;
  width: max-content;
  margin-left: 3vw;
}

.getintouch-box1__text1 {
  display: grid;
  font-family: Anton-Regular;
  font-size: 11vw;
  text-wrap: nowrap;
  line-height: 1.0;

}

.getintouch-box2 {
  display: grid;
  width: max-content;
  justify-items: start;
}

.getintouch-box2-1__text {
  display: grid;
  font-family: BebasNeue-Regular;
  font-size: 5vw;
  text-wrap: nowrap;
  line-height: 1.0;

}

.getintouch-box1__text2 {
  display: grid;
  font-family: BebasNeue-Regular;
  font-size: 1.5vw;
  text-wrap: nowrap;
  line-height: 1.0;
  padding-top: 20px;
  text-decoration: underline;
}

.getintouch-box2-2 {
  display: grid;
  width: max-content;
  grid-template-columns: max-content;
}

.getintouch-box2-2__text {
  display: grid;
  font-family: BebasNeue-Regular;
  font-size: 2vw;
  text-wrap: nowrap;
  line-height: 0.8;
  padding-top: 10px;
  text-decoration: underline;
}