@font-face {
  font-family: "THEBOLDFONT";
  src: url("/assets/fonts/THEBOLDFONT.ttf");
  font-display: swap;
}

@font-face {
  font-family: "ADLMOUNTIANE";
  src: url("/assets/fonts/ADLMOUNTIANE.otf");
  font-display: swap;
}

@font-face {
  font-family: "AGENCYR";
  src: url("/assets/fonts/AGENCYR.TTF");
  font-display: swap;
}

@font-face {
  font-family: "CONSOLA";
  src: url("/assets/fonts/CONSOLA.TTF");
  font-display: swap;
}

@font-face {
  font-family: "BebasNeue-Regular";
  src: url("/assets/fonts/BebasNeue-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "ArchitectsDaughter-Regular";
  src: url("/assets/fonts/ArchitectsDaughter-Regular.ttf");
  font-display: swap;
}



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: grid;
  width: 100%;
  min-width: 400px;
  height: auto;
  grid-template-columns: auto;
  background-color: #ffffff;
}

nav {
  display: grid;
  width: 100%;
  height: auto;
  grid-auto-flow: column;
  background-color: rgb(255, 255, 255);
  align-items: center;
  padding: 30px 40px 0px 40px;
  z-index: 1;
}

.mikey-logo {
  margin-right: 10px;
}

.navbar-menu {
  display: grid;
  grid-auto-flow: column;
  width: auto;
  height: auto;
  align-items: center;
  justify-self: end;
  gap: 60px;

}

.nav-sections {
  display: grid;
  font-family: BebasNeue-Regular;
  font-size: 40px;
  border: 0px none;
  background-color: transparent;
}

.language-selection {
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
  font-family: ArchitectsDaughter-Regular;
  font-size: 25px;
  color: #999999;
}


.button-get-in-touch {
  padding: 20px;
  font-family: BebasNeue-Regular;
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.button-get-in-touch::before {
  content: "GET IN TOUCH";
  padding: 20px;
  font-family: BebasNeue-Regular;
  background-color: #FF0000;
  color: transparent;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-size: 20px;
  border-radius: 5px;
  left: -2%;
  top: -5%;
  z-index: -1;
}

.button-get-in-touch::after {
  content: "GET IN TOUCH";
  padding: 20px;
  font-family: BebasNeue-Regular;
  background-color: #0047FF;
  color: transparent;
  font-size: 20px;
  white-space: nowrap;
  position: absolute;
  font-size: 20px;
  border-radius: 5px;
  left: 2%;
  top: 5%;
  z-index: -1;
}

.language-english {
  cursor: pointer;
}

.language-spanish {
  cursor: pointer;
}

.language-english.selected {
  background: linear-gradient(to bottom, #FF0000 0%, #0047FF 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: auto;
}

.language-english.selected::after {
  content: "";
  display: grid;
  position: absolute;
  width: 50px;
  height: 30px;
  left: 81.9%;
  top: 7.1%;
  background-color: transparent;
  border: 2px solid #4d4d4d;
  border-radius: 5px;
}

.language-spanish.selected {
  background: linear-gradient(to bottom, #FF0000 0%, #0047FF 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: auto;
}

.language-spanish.selected::after {
  content: "";
  display: grid;
  position: absolute;
  width: 62px;
  height: 30px;
  left: 77.7%;
  top: 7.1%;
  background-color: transparent;
  border: 2px solid #4d4d4d;
  border-radius: 5px;
}



























.location-icon {
  width: 20px;
}

.dots {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  gap: 5px;
}

.dots-svg {
  width: 5px;
  height: 5px;
}



.introduction {
  display: grid;
  justify-items: center;
  padding-top: 20px;
  padding-bottom: 1000px;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.country-location {
  display: grid;
  justify-items: center;
  gap: 5px;
}

.country-name {
  font-size: 1rem;
  font-family: THEBOLDFONT;
}

.mikey-picture {
  display: grid;
  justify-items: center;
  margin-top: 10px;
}

.mikey-picture {
  width: 80%;
  max-width: 300px;
}

.presentation {
  display: grid;
  justify-items: center;
  margin-top: 20px;
}

.presentation-line-1 {
  font-size: 0.8rem;
  font-family: CONSOLA;
  opacity: 0.7;
  word-break: keep-all;
}

.presentation-line-2 {
  font-size: 2rem;
  font-family: THEBOLDFONT;
  line-height: 85%;
  word-break: keep-all;
}

.presentation-line-3 {
  font-size: 2rem;
  font-family: THEBOLDFONT;
  opacity: 0.5;
  line-height: 85%;
  word-break: keep-all;
}

.stacks {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  color: white;
  font-family: AGENCYR;
  letter-spacing: 1px;
  margin: 5px 0px;
}

.stacks>span {
  background-color: black;
  border-radius: 2px;
  padding: 2px 10px;
}

.nickname {
  display: grid;
  justify-items: center;
  margin-top: 70px;
}

.nickname-line-1 {
  font-size: 1.5rem;
  font-family: ADLMOUNTIANE;
  letter-spacing: 2px;
  word-spacing: 0px;
  line-height: 85%;
  position: relative;
  left: 80px;
  top: 10px;
}

.nickname-line-2 {
  font-size: 4.5rem;
  font-family: ADLMOUNTIANE;
  letter-spacing: 2px;
  word-spacing: 0px;
  line-height: 85%;
}

.nickname-line-3 {
  font-size: 1rem;
  font-family: AGENCYR;
  letter-spacing: 2px;
  word-spacing: 0px;
  line-height: 85%;
  position: relative;
  left: 10px;
  top: -10px;
  cursor: pointer;
}



.more-about-me-text {
  font-size: 1rem;
  font-family: THEBOLDFONT;
  letter-spacing: 2px;
  word-spacing: 0px;
  line-height: 0%;
  opacity: 0.3;
  border: 2px solid black;
  padding: 15px;
}

.more-about-me::after {
  content: "";
  display: grid;
  background-image: url(/assets/arrows-down.png);
  background-size: 19px 33px;
  background-repeat: no-repeat;
  width: 19px;
  height: 33px;
  position: relative;
  opacity: 0.5;
  top: 5px;
}




.anim1 {
  display: grid;
  height: 2px;
  background-color: black;
  position: relative;
  left: 8px;
  bottom: 7px;
  animation: mymove 1.5s infinite;
}

@keyframes mymove {
  from {
    width: 0px;
  }

  to {
    width: 70px;
  }
}

.read-story {
  display: none;
}

.read-story.active {
  display: grid;
  width: 300px;
  height: 150px;
  background-color: black;
  justify-items: center;
  position: absolute;
  z-index: 1000;
  bottom: 50px;
  color: white;
  border-radius: 5px;
  outline: 10px solid rgba(0, 0, 0, 0.123);
}


.page-location {
  width: 100%;
  font-family: THEBOLDFONT;
  font-size: 20px;
  left: 20px;
  position: relative;
  color: white;
  font-size: 30px;
  letter-spacing: 0.5em;
}