/*Mobile Navbar (START)*/
nav {
    display: grid;
    width: 100%;
    height: max-content;
    grid-auto-flow: column;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 15px 15px 50px 15px;
    z-index: 1;
    gap: 2rem;

}



.mikey-logo {
    cursor: pointer;
    opacity: 100%;
    transition: opacity 0.3s ease;
    transition: transform 0.3s;
    width: 169px;
    height: 208px;
}

.mikey-logo:hover {
    opacity: 50%;
    transition: opacity 0.3s ease;
    transform: scale(1.05);
    transition: transform 0.3s;
}

.navbar-menu {
    display: grid;
    grid-auto-flow: column;
    width: auto;
    height: auto;
    align-items: center;
    justify-self: end;
    gap: 1.5rem;
}

.nav-sections {
    display: none;
}

.nav-sections.selected {
    display: none;
}

.language-selection {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    font-family: __ArchitectsDaughterRegular_ca443e;
    font-size: 3.5vw;
    color: #999999;
}


.language-english {
    cursor: pointer;
    color: #999999;
    transition: color 0.3s ease;
    transition: transform 0.3s;
}

.language-english:hover {
    cursor: pointer;
    color: #2e2e2e;
    transition: color 0.3s ease;
    transform: scale(1.05);
    transition: transform 0.3s;
}

.language-spanish {
    cursor: pointer;
    color: #999999;
    transition: color 0.3s ease;
    transition: transform 0.3s;
}

.language-spanish:hover {
    cursor: pointer;
    color: #2e2e2e;
    transition: color 0.3s ease;
    transform: scale(1.05);
    transition: transform 0.3s;
}

.language-english.selected {
    background: linear-gradient(to bottom, #FF0000 0%, #0047FF 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    cursor: auto;
    position: relative;
}

.language-english.selected::after {
    content: "";
    display: grid;
    position: absolute;
    width: 45px;
    height: 30px;
    left: -7px;
    top: 7.1%;
    background-color: transparent;
    border: 2px solid #4d4d4d;
    border-radius: 5px;
}

.language-spanish.selected {

    color: transparent;
    cursor: auto;
    position: relative;
}

@-moz-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-webkit-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@-o-keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

@keyframes shimmer {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}

.language-spanish.selected::after {
    content: "";
    display: grid;
    position: absolute;
    width: 58px;
    height: 30px;
    left: -6px;
    top: 7.1%;
    background-color: transparent;
    border: 2px solid #4d4d4d;
    border-radius: 5px;
}

.button-get-in-touch-desktop {
    display: none;
}

.button-get-in-touch {
    padding: 0.5rem;
    font-family: __BebasNeueRegular_171f10;
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    transition: font-size 0.5s ease;
    transition: transform 0.3s;
    box-shadow: 3px 3px 0px #FF0000, -3px -3px 0px #0047FF;
}

.button-get-in-touch:hover {
    transform: scale(1.05);
}


/*Mobile Navbar (END)*/



@media (min-width: 1024px) {

    nav {
        padding: 1vw 1.5vw 0.5vw 1.5vw;
    }

    .mikey-logo {
        width: 40.7px;
        height: 50.4px;
        image-rendering: crisp-edges;
    }

    .nav-sections {
        display: grid;
        font-family: __BebasNeueRegular_171f10;
        font-size: 2.5vw;
        background-color: transparent;
        border-radius: 5px;
        cursor: pointer;
        transition: transform 0.3s;
        line-height: 0.8;
        padding-top: 5px;
        padding-left: 7px;
        padding-right: 7px;
        color: var(--secondary-color);
    }

    .nav-sections.selected {
        display: grid;
        font-family: __BebasNeueRegular_171f10;
        font-size: 2.5vw;
        background-color: transparent;
        cursor: auto;
        padding-top: 5px;
        padding-left: 7px;
        padding-right: 7px;
        line-height: 0.8;
        border-style: solid;
        background: linear-gradient(white, white) padding-box,
            linear-gradient(to right, #0047FF 0%, #FF0000 16%, #0047FF 32%, #FF0000 48%, #0047FF 64%, #FF0000 80%, #0047FF 100%) border-box;
        background-position: top left;
        animation: shimmer infinite 3s linear;
        border-radius: 0.15em;
        -webkit-background-size: 300% 300%;
        -moz-background-size: 300% 300%;
        background-size: 300% 300%;
        border: 3px solid transparent;
        color: var(--secondary-color);
    }

    @-moz-keyframes shimmer {
        0% {
            background-position: top left;
        }

        100% {
            background-position: top right;
        }
    }

    @-webkit-keyframes shimmer {
        0% {
            background-position: top left;
        }

        100% {
            background-position: top right;
        }
    }

    @-o-keyframes shimmer {
        0% {
            background-position: top left;
        }

        100% {
            background-position: top right;
        }
    }

    @keyframes shimmer {
        0% {
            background-position: top left;
        }

        100% {
            background-position: top right;
        }
    }


    .nav-sections.selected:hover {
        cursor: not-allowed;
        transform: none;
        color: inherit;
    }

    .nav-sections:hover {
        color: #6b6b6b;
        transform: scale(1.05);
    }

    .language-selection {
        margin: 0px 2vw;
        gap: 1.5rem;
        font-size: 1.2vw;
    }


    .button-get-in-touch-desktop {
        display: grid;
        padding: 0.5rem;
        font-family: __BebasNeueRegular_171f10;
        background-color: var(--secondary-color);
        color: white;
        font-size: 1.5vw;
        border: none;
        border-radius: 0.3vw;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        transition: font-size 0.5s ease;
        transition: transform 0.3s;
        box-shadow: 0.2vw 0.2vw 0px #FF0000, -0.2vw -0.2vw 0px #0047FF;
        letter-spacing: 1.2px;
    }

    .button-get-in-touch-desktop-selected {

        background-color: white;
        color: var(--secondary-color);
    }

    .button-get-in-touch-desktop:hover {
        transform: scale(1.05);
    }

}