.work-modal {
    display: none
}

.work-modal.active {
    display: grid;
    width: 100%;
    height: 100vh;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

.modal-content {
    display: grid;
    width: 70vw;
    height: 80vh;
    background-color: white;
    border-radius: 1.5vw;
    grid-template-columns: 100%;
    grid-template-rows: max-content;
}



.topbar {
    display: grid;
    width: 100%;
    height: max-content;
    grid-template-columns: 1fr max-content;
    align-items: center;
    padding: 1vw;
    justify-items: end;
}


.modal-close-icon {
    opacity: 100%;
    transition: opacity 1s ease;
    transition: transform 0.3s;
    cursor: pointer;
}

.modal-close-icon:hover {
    opacity: 40%;
    transform: scale(1.05);
}

.project-image {
    width: 100%;
    height: 50vw;
    clip-path: polygon(0% 0%, 100% 17.5%, 100% 100%, 0% 82.5%);
    position: relative;
    top: -4vw;
    object-fit: cover;
    transition: opacity 0.7s;

}

.project-image:hover {
    opacity: 50%;
    cursor: pointer
}